* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
    width: 100%;
    margin:0px 0px 4px 0px;
    padding: 10px 10px;
    border: 2px solid #5f9341;

    display: block;
}

#input-button, #tab-button {
    background-color: #5f9341;
    color: white;
    font-weight: bold;
    border:  none;
    padding: 12px 17px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
}

#input-button:hover, #tab-button:hover {
    background-color: #4b7734; /* slightly darker green */
}

#input-button:active, #tab-button:active {
    transform: scale(0.97);
}

#delete-all-button {
    background-color: white;
    color: #5f9341;
    border: 1px solid #5f9341;
    font-weight: bold;
    padding: 12px 17px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s, transform 0.1s;
}

#delete-all-button:hover {
    background-color: #f2f2f2; /* a bit darker than white */
}

#delete-all-button:active {
    transform: scale(0.97);
}


ul {
    list-style-type: none;
    margin-top: 20px;
}

li {
    margin-top: 4px;
}

li a {
    color: #5f9341;
}

/* #box {
    margin: 10px auto;
    padding: 40px;
    color: white;
    text-align: center;
    background: lightseagreen;
    width: 200px;
} */